<mat-card  [style.width]="width" class="mat-elevation-z1"  [id]="job._id"  >
    <div class="header-div">
        <div
           class="header-logo">
            {{job.company.toUpperCase()[0]}}
        </div>
        <div
            style="width: calc(100% - 75px);height:60px;  font-size: 28px; ">
            <h5>{{job.position| titlecase}}</h5>
            <h6>{{job.company | titlecase}}</h6>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div   class="left-div">
            <div style="height: 45px;">
                <i class="fa-solid fa-paper-plane" style="font-size: 20px;color: var(--card-icon-color)"></i>
                <mat-label style="margin-left :10px ;font-size:large;">{{job.joblocation }}</mat-label>
            </div>

            <div style="height: 45px;">
                <i class="fa-solid fa-briefcase"  style="font-size: 20px;color: var(--card-icon-color);"></i>
                <mat-label style="margin-left :10px ;font-size:large">{{job.jobtype}}</mat-label>
            </div>

            <div style="height: 45px;"  class="btn-div">
                <button  mat-button  class="btn-style edit  m-right"  (click)="editEvent()">Edit</button>
                <button  mat-button  class="btn-style delete"  (click)="deleteEvent()">delete</button>
            </div>

        </div>
        <div class="right-div" >
            <div style="height: 45px;">
                <i class="fa-solid fa-calendar-days" style="font-size: 20px;color: var(--card-icon-color)"></i>
                <mat-label style="margin-left :10px ;font-size:large">{{job.createdAt  | date:'mediumDate'}}</mat-label>
            </div>
            <div style="height: 45px;"  >
                <button  mat-button   class="status-btn"  [ngClass]="job.status"  [disableRipple]="true">{{job.status}}</button>
            </div>

        </div>
    </mat-card-content>
</mat-card>