<div class="spinner"  *ngIf="!isLoaded">
    <mat-spinner diameter="45"></mat-spinner>
</div>

<div class="main-div"  *ngIf="isLoaded" >
    <form class="form-style  mat-elevation-z3"  [formGroup] = "editDetailsForm" (ngSubmit)="onSubmit()">
        <h3 class="grid-header">Update profile </h3>
        <mat-form-field appearance="fill">
            <mat-label>Name </mat-label>
            <input matInput placeholder="e.g. pater"   formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Last Name </mat-label>
            <input matInput placeholder="e.g. watson"  formControlName="lastname">
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="e.g. watson"  formControlName = "email">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput placeholder="e.g. watson"  formControlName = "location">
        </mat-form-field>
        
        <button mat-button class="btn-style "  type="button"  (click)="resetForm()">Clear Form</button>
        <button mat-button class="btn-style  btn-submit">Submit</button>
    </form>
</div>

