<div class="main-div"  [formGroup] ="searchFilterDetails"  (ngSubmit)="filterJobs()">
    <form class="form-style  mat-elevation-z3"  >
        <h3 style="height: 10px;"  class="grid-header">Search Form </h3>
        <mat-form-field appearance="outline" appearance="fill">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Placeholder"  formControlName="company">
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Job Type</mat-label>
            <mat-select  formControlName="jobtype">
                <mat-option *ngFor="let job of jobTypes"   [value]="job">
                    {{job}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select   formControlName="status">
                <mat-option  *ngFor="let type of statusType"  [value]="type" >
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Sort</mat-label>
            <mat-select  formControlName="sort">
                <mat-option value="none">none</mat-option>
                <mat-option value="latest">Latest</mat-option>
                <mat-option value="oldest">Oldest</mat-option>
                <mat-option value="A-Z">A-Z</mat-option>
                <mat-option value="Z-A">Z-A</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-flat-button class="btn-style" type="button"  (click)="resetFilters()">Clear Filter</button>
        <button mat-flat-button class="btn-style btn-submit"  type="submit">Submit</button>
    </form>
    <div class="title">
        <h3>{{allJobs.length}} Jobs Found</h3>
    </div>
    <div class="row">
        <app-job-info-card  class="card-style  " [width]="'100%'" *ngFor="let job of allJobs; index as ind"  [job]="job"
        [ind]="ind"
        (onDelete)="handleDelete($event)"

        (onEdit)="handleEditEvent($event)"
        >
        </app-job-info-card>
    </div>
</div>