<div  style="width: 100vw; background-color: var(--gray-light); ">
    <app-nav-bar></app-nav-bar>
    <div class=" main-div d-flex align-items-center m-auto" >
        <div class="main-content">
            <div  class="d-flex  flex-column" style="width: 50%; height: 100%; padding-top: 80px;padding-right: 60px; padding-left: 10px;">
                <h1  style="font-weight:900;">Job Tracking app</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, qui ad. Harum esse ducimus nostrum voluptate et sequi sapiente quia, veritatis non unde fugit natus perferendis, illo sunt provident accusamus?</p>
                <mat-card style="width: fit-content;height : fit-content;box-shadow: none; padding: 0;"> 
                    <button routerLink="/login" mat-raised-button color="primary" style="margin-right: 10px;"  class="btn-style"  >Login</button>
                    <button routerLink="/register"  mat-raised-button color="primary" class="btn-style">Signup</button>
                </mat-card>
            </div>
            <div class="d-flex align-items-start" style=" width : 50%; height: 100%;">
                <img src="../../assets/main.2f71efe4.svg" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>